<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <section class="hero is-medium is-success">
        <div class="hero-body">
          <p class="title">
            About Page
          </p>
          <p class="subtitle">
            This page is accessable for everyone
          </p>
        </div>
      </section>
    </section>
</body>

</html>